
.main{
    background-image:url('https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
    background-size: cover;
    width: 2000px;
    height: 1000px;
    font-style: oblique;
    text-align: right; 
    
}
.main>h2{
text-align: right;
padding:600px 50px 0px;
font-size: 60px;
color:skyblue;
}

.table{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    font-style: italic;
    

    
}
img{

    width: 200px;
    height: 200px;
    justify-content: space-between;
   
}
h1{
    text-align: center;
    font-style: oblique;
    position: relative;
    bottom: 40px
}
h3{
    font-size: 70px;
    text-align:  center;
    font-style: italic;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
.top_one{
    width: 20%;
    font-size: 20px;
    font-style: italic;
    background-size: cover;
    background-color: white;
    width: 300px;
    border: 15px solid black;
    padding:50px;
    margin: 20px;
}
.top_two{
    width: 25%;
    font-size: 20px;
    font-style: italic;
}
.top_three{
    width:30%;
    
}
.top>img{
    width: 2000px; 
    height: 500px;
}
h3{
    position: relative;
    bottom: 600px ;
    color: grey;
}
h2{
    text-align: center;
}
nav{
    margin: 10px 10px;
    padding-left: 5px;
    margin-bottom: 60px;
}
nav>ul{
    text-align: center;
}
nav>ul>li{
    display: inline-block;
}
nav>ul>li>a{
    text-transform: uppercase;
    font-style: oblique;
}
nav>ul>li>a:hover{
    color:grey;
}
.nav{
    background-color: skyblue;
}
body{
    background-color: skyblue;
}