
.main{
    background-image:url('https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
    background-size: cover;
    width: 2000px;
    height: 1000px;
    font-style: oblique;
    
}
.main>h2{
text-align: right;
padding:600px 50px 50px;
font-size: 45px;
color:skyblue;
}

.table{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    font-style: italic;
    

    
}
img{

    width: 200px;
    height: 200px;
    justify-content: space-between;
   
}
h1{
    text-align: center;
    font-style: oblique;
}
h3{
    font-size: 70px;
    text-align:  center;
    font-style: italic;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
.top_one{
    width: 20%;
    font-size: 20px;
    font-style: italic;
}
.top_two{
    width: 25%;
    font-size: 20px;
    font-style: italic;
}
.top_three{
    width:30%;
    
}
.top>img{
    width: 2000px; 
    height: 500px;
}